[Desktop Entry]
Type=Application
Name=RelayPony
Comment=Encrypted, direct device-to-device file transfer
Exec=relaypony
Icon=relaypony
Categories=Network;FileTransfer;Utility;
Terminal=false
